html{
    background-color: #ccc;
    /* fonte sempre 16px */
    /* 1 em = 16px */
    font-size: 32px;
}

body{
    background-color: thistle;
    width: 50%;
    font-size: 3rem;
}

.pai{
    background-color: #ea80fc;
    width: 50%;
    font-size: 1.5rem;
}

.filha{
    background-color: aqua;
    width: 50%;
    font-size: 0.5rem;
}